<!-- app/views/dashboard/bookings.html.erb -->

<div id="reservation-dashboard-root"></div>

<script>
  // Set up Mapbox token
  window.mapboxAccessToken = '<%= ENV['MAPBOX_API_KEY'] %>';

  // Set up data for JavaScript
  window.reservationData = <%= @reservations_json.to_json.html_safe %>;
  window.currentUser = {
    name: "<%= [current_user&.first_name, current_user&.last_name].compact.join(' ').presence || current_user&.email || 'Guest' %>"
  };

  console.log('Dashboard data loaded:', {
    reservations: window.reservationData.length,
    user: window.currentUser.name,
    mapboxToken: !!window.mapboxAccessToken
  });
</script>
