<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

  <!-- Grandma Card for visual backend setup button-->
  <div>
    <!-- Grandma Card for visual backend setup button-->
    <%= image_tag 'granny.svg', alt: 'granny' %>

    <button>Helen</button>
  </div>
